/* 
    Created on : Jan 30, 2017, 10:59:15 AM
    Author     : krom
*/


body
{
    margin: 0;
    font-family: sans-serif;
    color: #323232;
}

#content
{
    margin-top: 12px;
    position: relative;
}

#basic-info
{
    /*background-color: #eee;*/
}

#head-pic
{
    display: table-cell;
    width: 180px;
}

img.rounded-pic
{
    margin: 0 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px;
}

#icon-links { text-align: center; margin: 12px; line-height: 40px; }
#icon-links a { margin: 0 8px; text-decoration: none; }

#basic-info-data
{
    display: table-cell;
    vertical-align: top;
    margin: 0 16px 0 0;
    padding: 0;
}

#basic-info-data > li
{
    list-style: none;
    padding-bottom: 4px;
}

#basic-info-data > li > b
{
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

#basic-info-data > li > span
{
    display: inline-block;
    vertical-align: middle;
}

#spoken-languages, #email-list
{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#spoken-languages li, #email-list li { list-style: none; }

@media (max-width: 500px)
{
    #basic-info-data > li > b
    {
        display: block;
        width: auto;
        padding-left: 0.25em;
        text-align: left;
        background-color: #323232;
        color: #fafafa;
        border-radius: 3px;
        font-weight: normal;
    }
    
    #basic-info-data > li > span
    {
        display: block;
        text-align: center;
    }
    
    .hide-on-small
    {
        display: none;
    }
    
    #spoken-languages li
    {
        display: inline-block;
        padding: 0 4px;
    }

}

h1,h2,h3,h4 { margin: 0; }

h2.section-title
{
    margin-top: 0.5em;
    /*text-indent: 0.5em;*/
    padding: 0 0.5em;
    clear: both;
}

div.section-block
{
    padding: 0 0.5em;
}

#summary p
{
    text-indent: 2em;
    padding: 0 0.5em;
}


h3.company-name
{
    margin-top: 12px;
    text-indent: 1em;
    border-bottom: 1px solid #999;
}

#technology-block h4
{
    margin-top: 1em;
}

.company-position
{
    padding: 0 1.5em;
}

.company-position .position-title
{
    font-weight: bolder;
}

.company-position span.position
{
    background-color: #323232;
    color: #fafafa;
    margin-left: 8px;
    padding: 0 4px;
}

.block
{
    padding: 0 1em;
}

@media (min-width: 700px)
{
    .block
    {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
}

.block h4
{
    text-align: center;
    font-size: larger;
    margin-bottom: 4px;
    padding-top: 12px;
}

.block ul { margin: 0; }

.block p { margin: 0; }

ul.functions li,
ul.projects li
{
    padding: 2px 0;
}

ul.positions
{
    padding: 0;
    margin: 0;
}

ul.positions li
{
    list-style: none;
    text-align: center;
}

ul.positions li span
{
    display: inline-block;
    border: 2px solid #4f80de;
    border-radius: 1em; 
    padding: 2px 4px;
}

ul.positions li:after
{
    content: "↑";
    display: block;
}

ul.positions li:last-child:after
{
    content: "";
}

#technology-block
{
    text-align: center;
}

#technology-block ul
{
    display: inline;
    padding: 0;
}

#technology-block ul li
{
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    padding: 2px 0.5em;
    margin: 2px;
    vertical-align: middle;
}

.operating-system, ul.operating-systems li          { border-color: #6f8b1b; }
.programming-language, ul.programming-languages li  { border-color: #b70b0f; }
.database-tech, ul.database-tech li li              { border-color: #112233; }
.communication-tech, ul.communication-tech li       { border-color: #5e4ef2; }
.web-tech, ul.web-tech li                           { border-color: #4db4ef; }
.libs, ul.libs  li                                  { border-color: #a6719f; }
.tools, ul.tools li                                 { border-color: #929292; }

.tech.use-a-lot  { font-size: 200%; }
.tech.use-more   { font-size: 150%; }
/*.tech.use-normal { font-size: 100%; }*/
.tech.use-less   {font-size: 80%; }
.tech.use-little {font-size: 60%; }

